/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*PELUCHES DESTACADOS*/
.destacados {
    text-align: center;
    padding: 3%;
}

.imagen-destacados {
    width: 350px;
    height: 350px;
    padding: 2%;
}

/*SEPARADOR*/
.separador {
margin-top: 50px;
}

/*NUEVAS ADQUISICIONES*/
.gallery {
min-height: 100vh;
width: 80%;
outline: 10px;
margin: 0 auto;


display: grid;
grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
padding: 20px;
}

.gallery__img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}


/*FOOTER*/
.footer {
   background-color: rgb(255, 255, 255);
}


/*TIENDA*/
.gallery2 {
    min-height: 130vh;
    width: 80%;
    outline: 10px;
    margin: 0 auto;
    
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    padding: 20px;
    }
    
    .gallery__img2 {
        width: 80%;
        height: 65%;
        object-fit: cover;
    }

    /*TIENDA GIGANTES*/
.gallery3 {
    min-height: 50vh;
    width: 80%;
    outline: 10px;
    margin: 0 auto;
    
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    padding: 20px;
    }
    
.gallery__img3 {
        width: 80%;
        height: 65%;
        object-fit: cover;
}

    /*FOOTER TIENDA*/
.footer2 {
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
 }
 

 /*SEPARADOR ENCONTRANOS*/
.separador2 {
    margin: 50px 50px 50px 50px;
}


/*BUTTON CONTACTO*/
.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}
      
.shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}
      
.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
     0 0 25px rgb(0,140,255),
     0 0 50px rgb(0,140,255),
     0 0 100px rgb(0,140,255);
}